<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container">
        <h1>Courses</h1>
        <table id="courses" border="1">
            <thead>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Is Premium</th>
                <th>Created At</th>
                <th>Deleted At</th>
                <th colspan="2" id="mid">Action</th>
            </thead>
            {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.title }}</td>
                <td>{{ course.description }}</td>
                <td>{{ course.status }}</td>
                <td>{{ course.is_premium }}</td>
                <td>{{ course.created_at }}</td>
                <td>{{ course.deleted_at }}</td>
                <td>
                    <a href="{% url 'update' course.id %}"><button id="up">Update</button></a>
                </td>
                <td>
                    <a href="{% url 'delete' course.id %}"><button id="del">Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
        <a href="{% url 'add' %}"><button id="new3">Add Course</button></a>
    </div>
</body>

</html>
